<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ChillinRoomGMG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ChillinRoomGMG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<ChillinRoomGMG.Properties.Settings>
   <setting name="ChillinRoomMinerId" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalHash" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalValidShares" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalInvalidShares" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="WalletAddres" serializeAs="String">
    <value />
   </setting>
   <setting name="MinerName" serializeAs="String">
    <value>Miner 1</value>
   </setting>
   <setting name="MineForChillinRoom" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoMine" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoMineDelay" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="InitializeMinerOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KillMinerOnPause" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CloseToTray" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MinimizeToTray" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TotalMinedSeconds" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RecordHashRate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NotificationAutoStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NotificationAutoStop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NotificationValidShare" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NotificationInvalidShare" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ValidShareNotificationCount" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="InvalidShareNotificationCount" serializeAs="String">
    <value>1</value>
   </setting>
  </ChillinRoomGMG.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<ChillinRoomGMG.Properties.Settings>
   <setting name="ChillinRoomWalletAddress" serializeAs="String">
    <value>44Ly8oJWj58XvWzbRs2ugz7b1X9omVuswS8X1HBk7c2R4MhjSPnVQUBMCekUAhTEV6iayTDqnN7niLW5eJGX3jXCVNt11Lv</value>
   </setting>
  </ChillinRoomGMG.Properties.Settings>
	</applicationSettings>
</configuration>